bokeh
jupyter-book
mdformat
mdformat-black
mdformat-myst
myst-parser
networkx
sphinx-proof
sphinx-thebe
sphinxcontrib-mermaid
geopandas
matplotlib
lxml
feedparser
folium
beautifulsoup4
requests
scrapy
facebook-sdk
tweepy
nltk
BTrees

# Paquetes locales del curso
# Incluye: grafos (algoritmos de grafos), ii (índices invertidos)
--editable contenidos/_static/code
