BTrees
beautifulsoup4
bokeh
dill
elementpath
facebook-sdk
feedparser
folium
geopandas
jupyterlab
jupytext
lxml
matplotlib
mdformat
mdformat-black
mdformat-myst
myst-parser
networkx
nltk
requests
scrapy
spacy
sphinx-proof
sphinx-thebe
sphinxcontrib-mermaid
tweepy
mystmd

# Paquetes locales del curso
# Incluye: grafos (algoritmos de grafos), ii (índices invertidos)
--editable contenidos/_static/code

