BTrees
beautifulsoup4
bokeh
facebook-sdk
feedparser
folium
geopandas
# Fijamos la versión a la más acutal de v1.x.x, Jupyter Book 2 ya está
# disponible pero deberíamos aplicar cambios para permitir la migración a la
# nueva versión.
jupyter-book<2
jupyterlab
lxml
matplotlib
mdformat
mdformat-black
mdformat-myst
myst-parser
networkx
nltk
requests
scrapy
spacy
sphinx-proof
sphinx-thebe
sphinxcontrib-mermaid
tweepy

# Paquetes locales del curso
# Incluye: grafos (algoritmos de grafos), ii (índices invertidos)
--editable contenidos/_static/code
