

.hidden-citations {
    display: none;
}

/* Ocultar el título "References" generado automáticamente */
#references header {
    display: none !important;
}

/* Aumentar el tamaño de letra de las referencias */
li[id^="cite-"],
.bibliography li,
.myst-bibliography li {
    font-size: 1rem !important;
    line-height: 1.6;
    margin-bottom: 1rem;
}

/* Robust Light/Dark Mode Image Toggling */

/* Default: Light Mode */
/* Ensure Light image is visible and Dark image is hidden by default */
.only-light-mode {
    display: block !important;
}

.only-dark-mode {
    display: none !important;
}

/* Dark Mode Overrides */
/* Check for data-theme="dark" OR class="dark" on html OR body */
html[data-theme="dark"],
html.dark,
body[data-theme="dark"],
body.dark {
    .only-dark-mode {
        display: block !important;
    }
}

html[data-theme="dark"],
html.dark,
body[data-theme="dark"],
body.dark {
    .only-light-mode {
        display: none !important;
    }
}

.myst-jp-nb-block {
    :is(.dark *) {
        --output-border-color: var(--md-grey-800);
        --output-bg-color: rgb(41 37 36 / var(--tw-bg-opacity, 1));
        --output-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgb(23, 23, 23) 0px 25px 50px -12px;
    }
    :not(.dark *) {
        --output-border-color: var(--md-grey-400);
        --output-bg-color: rgb(249 250 251 / var(--tw-bg-opacity, 1));
        --output-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px
    }
    >div[data-name="outputs-container"] {
        border: 1px solid var(--output-border-color) !important;
        border-radius: 4px !important;
        padding: 10px !important;
        background-color: var(--output-bg-color) !important;
        box-shadow: var(---output-shadow) !important;
    }
}

.myst-dropdown {
    .myst-dropdown-header {
        font-size: 0.75rem !important;
    }
    .myst-dropdown-body {
        margin-top: 10px !important;
        margin-bottom: 10px !important;

        >div[data-name="outputs-container"] {
            margin-bottom: unset !important;
        }
    }
}
